---
import { SITE } from "@/config";

type StringTitle = { pageTitle: string };
type ArrayTitle = { pageTitle: [string, string]; titleTransition: string };

type Props = (StringTitle | ArrayTitle) & { pageDesc?: string; wide?: boolean };

const { props } = Astro;

const backUrl = SITE.showBackButton ? Astro.url.pathname : "/";

const layoutClass = props.wide ? "max-w-7xl mx-auto px-4 sm:px-6 lg:px-8" : "max-w-3xl mx-auto px-4";
---

<main data-backUrl={backUrl} id="main-content" class:list={[layoutClass, "pb-10 pt-8"]}>
  {
    "titleTransition" in props ? (
      <h1 class="text-2xl font-bold text-gray-900 sm:text-3xl">
        {props.pageTitle[0]}
        <span transition:name={props.titleTransition}>
          {props.pageTitle[1]}
        </span>
      </h1>
    ) : (
      <h1 class="text-2xl font-bold text-gray-900 sm:text-3xl">{props.pageTitle}</h1>
    )
  }
  <p class="mt-2 mb-6 text-gray-600">{props.pageDesc}</p>
  <slot />
</main>

<script>
  document.addEventListener("astro:page-load", () => {
    const mainContent: HTMLElement | null =
      document.querySelector("#main-content");
    const backUrl = mainContent?.dataset?.backurl;
    if (backUrl) {
      sessionStorage.setItem("backUrl", backUrl);
    }
  });
</script>
